@model Team


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Html.Raw(Model.Title)</td>
        </tr>
    </tbody>
</table>